version: "3.7"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: wearebadfox/app:dev
    command: gatsby develop -H 0.0.0.0
    ports:
      - 8000:8000
    volumes:
      - /code/node_modules
      - .:/code
    environment:
      - NODE_ENV=development
      - GATSBY_WEBPACK_PUBLICPATH=/
      - GATSBY_GRAPHQL_IDE=playground
